body {
  font-family: Arial, sans-serif;
  margin: 5%;
  
  background-color: #ebe0e0b2;
  overflow: scroll;
}

.container {
  width: 90%; 
  padding: auto ;
  max-width: none; 
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.658);
  position: relative;
  animation: fadeIn 4s ease-in-out; /* Adjust duration and easing as needed */
}

/* Define keyframes for the animation */
@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with opacity 0 */
    transform: translateY(10px); /* Move the elements slightly down */
  }
  100% {
    opacity: 1; /* End with full opacity */
    transform: translateY(0); /* Return to the original position */
  }
}

.frame {
  position: absolute;
  width: 100%; /* Ensure the image takes up the full width of the container */
  height: auto; /* Allow the image to maintain its aspect ratio */
  top: 2%;
  left: 5%;
  right: 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  border-radius: 2%;
}

.word1,
.word2,
.word3,
.word4 {
  position: absolute;
  width: 100%; /* Ensure the image takes up the full width of the container */
  height: auto; /* Allow the image to maintain its aspect ratio */
  top: 2%;
  left: 5%;
  right: 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.13);
  border-radius: 2%;
  animation: slideIn 4s ease-in-out; /* Adjust duration and easing as needed */
  animation-fill-mode: both;
}

.tabs {
  width: 100%;
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: inset;
  border-radius: 10px;
  background-color: #222527;
  text-align: center;
  border: 1px solid #fff;
 
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  30% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.flex {
  position: relative;
  margin-top: 130%;
  margin-left: 2%;
  display: flex;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 3%;
  animation: bounce 3s ease-in-out ;
  animation-fill-mode: both;
  opacity: 0;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.13);
  border-radius: 10%;

}
.flex.active {
  opacity: 1;
  animation-play-state: running;
}

.tab a {
  text-decoration: none;
  color:  #896f5b;
  margin-left: 1%;
  display: inline-block;
  font-family: 'Gabarito', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Raleway', sans-serif;
}

.tab img {
  text-align: center;
  justify-content: center;
}


button {
  font-size: 16px;
  color: #eee;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
  border: none;
  border-radius: 2px;
  outline: none;
  background: #896f5b;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
  cursor: pointer;
  transition: all 2s ease-out;
}

button.fade:hover {
  opacity: 0.8;
}

.fade {
  opacity: 0.2;
  top: 62%;
  right: 2%;
  transform: translate(0, 0);
}
