body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebe0e0b2;
    overflow: hidden;
    position: relative;
  }

  #backgroundVideo {
    position: absolute;
    top: 150%;
    left: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.658);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  .invitation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    z-index: 1;
  }

